<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="product_update" instance="Violet\VioletConnect\Observer\ProductSaveAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="order_canceled" instance="Violet\VioletConnect\Observer\OrderCancelAfter" />
    </event>
    <event name="cataloginventory_stock_item_save_commit_after">
        <observer name="stock_item_save_after" instance="Violet\VioletConnect\Observer\StockItemSaveAfter" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="sales_model_submit_before" instance="Violet\VioletConnect\Observer\SalesModelSubmitBefore" />
    </event>
    <event name="sales_model_service_quote_submit_failure">
        <observer name="sales_model_submit_failure" instance="Violet\VioletConnect\Observer\SalesModelSubmitBefore" />
    </event>
    <event name="sales_order_item_cancel">
        <observer name="sales_order_item_cancel" instance="Violet\VioletConnect\Observer\SalesOrderItemCancel" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="sales_order_credit_after" instance="Violet\VioletConnect\Observer\SalesOrderCreditAfter" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="sales_order_placed" instance="Violet\VioletConnect\Observer\SalesOrderPlaced" />
    </event>
</config>
